html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.home-page-link {
  text-decoration: none;
  color: #000000;
}

img {
  height: 150px;
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  width: 50%;
  margin: 20px;
  padding: 10px;
  border: none;
  background-color: #efefefef;
}

.btn-shorten {
  width: 15%;
  border: 1px solid #00a1ff;
  padding: 5px;
  color: #00a1ff;
  background-color: white;
}

.btn-copy {
  margin-top: 10px;
  border: 1px solid #936116;
  padding: 5px;
  color: #936116;
  background-color: white;
}